@page "/"
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation

<h1>Welcome to Sapper game</h1>
<GameMenu 
          @bind-Difficulty="@Game.Difficulty" 
          IsOver="Game.IsOver" 
          IsRunning="Game.IsRunning" 
          OnGameStart="OnGameStart" 
          OnGameStop="OnGameStop" />
<StatusHeader 
              IsRunning="Game.IsRunning" 
              IsOver="Game.IsOver" 
              IsVictory="Game.IsVictory"
              TotalFlagsAvailable="Game.TotalFlagsAvailable"
              MinesCount="Game.MinesCount"
              FlagsPlaced="Game.FlagsPlaced"
              TimeElapsed="Game.TimeElapsed"/>
<MineField FieldSize="Game.FieldSize">
    <TileTemplate Context="ctx">
        <Tile IsDebugMode="DebugMode" Model="Game.GetTile(ctx.x, ctx.y)" IsReadOnly="Game.IsOver" OnTileStateChanged="OnTileStateChanged" />
    </TileTemplate>
</MineField>

@code {

    public bool DebugMode { get; set; }

    private GameState Game { get; set; }

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        if (query.TryGetValue("DebugMode", out var debugMode))
        {
            DebugMode = bool.Parse(debugMode.First());
        }

        Game = new GameState(() => this.StateHasChanged());
    }

    private void OnGameStart(MouseEventArgs args)
    {
        Game.Start();
    }

    private void OnGameStop(MouseEventArgs args)
    {
        Game.Defeat();
    }

    protected void OnTileStateChanged(TileStateChangedEventArgs args)
    {
        var tile = args.Tile;
        if (tile.State == TileState.Open && tile.Rank == 0)
        {
            Game.OpenEmptyAdjesantTiles(tile.Position.x, tile.Position.y);
        }

        if (tile.State == TileState.Detonated)
        {
            Game.Defeat();
        }

        if (tile.State == TileState.Flagged)
        {
            Game.OnFlagPlaced(tile);
        }

        if (args.Old == TileState.Flagged && tile.State == TileState.None)
        {
            Game.OnFlagRemoved(tile);
        }
    }
}

