@page "/rules"

<h3>Rules</h3>

<p>
    The goal of the game is to clear a rectangular board containing hidden "mines" without detonating any of them, with help from clues about the number of neighboring mines in each field.
    Initially, all tiles on the board are hidden, click on the tile to "open" it. If tile contains a mine, the game is over, if tile is adjacent to the mine(s), it will show the number of adjacent mines.
    If tile is empty, it means no mines near by.
    Right click on the tile to place a flag were mine is suspected. When all mines are flagged player wins the game.
</p>

<h3>Legend:</h3>

<div class="m-2">
    <button class="tile btn btn-primary"></button> <span> - tile is not yet revealed</span>
</div>
<div class="m-2">
    <button class="tile btn btn-warning"><span class="oi oi-flag"></span></button> <span> - tile is flagged by the player</span>
</div>
<div class="m-2">
    <div class="tile bg-light text-danger"><span class="oi oi-sun"></span></div> <span> - mine</span>
</div>
<div class="m-2">
    <div class="tile bg-light text-danger">3</div> <span> - three mines are adjecent to this tile</span>
</div>
<div class="m-2">
    <div class="tile bg-light text-light">
        </div> <span> - no mines are adjecent to this tile. Reveals all adjecent tiles that don't have mines in them.</span>
</div>