<div class="form-group">
    @for (var i = 0; i < FieldSize; i++)
    {
        <div class="mine-row">
            @for (int j = 0; j < FieldSize; j++)
            {
                @TileTemplate((i, j))
            }
        </div>
    }
</div>

@code{

    [Parameter]
    public int FieldSize { get; set; }

    [Parameter]
    public RenderFragment<(int x, int y)> TileTemplate { get; set; }
}