@if (IsRunning)
{
    <div class="form-group mb-2">
        <label><strong>Flags available:</strong></label>
        <span>@TotalFlagsAvailable</span>
        <label><strong>Time:</strong></label>
        <span>@TimeElapsed</span>
        <label><strong>Mines on the map:</strong></label>
        <span>@MinesCount</span>
        <label><strong>Flags placed:</strong></label>
        <span>@FlagsPlaced</span>
    </div>
}

@if (IsOver)
{
    if (IsVictory)
    {
        <div class="alert alert-success" role="alert">
            <strong>Victory</strong> You successfully avoided all mines!
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <strong>Oops!</strong> You stepped on a mine :(
        </div>
    }
}

@code{

    [Parameter]
    public bool IsRunning { get; set; }

    [Parameter]
    public bool IsOver { get; set; }

    [Parameter]
    public bool IsVictory { get; set; }

    [Parameter]
    public int TotalFlagsAvailable { get; set; }

    [Parameter]
    public int MinesCount { get; set; }

    [Parameter]
    public int FlagsPlaced { get; set; }

    [Parameter]
    public TimeSpan TimeElapsed { get; set; }

}